 body {
            background-color: #ffffff;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            /* padding: 0% 25%; */
        }

        .container-title i {
            margin-right: 10px;  
            color: black;  
        }

        .top-body {
            background-color: #343434;
            display: flex;
        }

        .top-body-header {
            color: white;
            text-align: start;
            margin: 0px;
            font-size: 32px;
            padding: 60px 25% 0px 25%; 
        }

        .top-body-para {
            color: white;
            padding: 0px 50% 40px 25%;
            text-align: start; 
        }

        .form-container {
            text-align: bottom;
        }

        h2 {
            color: #0073e6;
            margin-bottom: 20px;
        }

        .h1{
            color: red; 
        }

        input[type="file"] {
            margin: 10px 0;
            padding: 6px;
        }

        select {
            padding: 6px 10px;
            margin: 5px;
            border-radius: 4px;
            border: white;
        }

        #convert-button {
            padding: 8px 20px;
            font-size: 14px;
           background-color:  #343434;
            border:1px solid white;
            color: white;
            border-radius: 6px;
            margin-top: 10px;
        }

        #pick-image {
            display: flex;
            background-color: #b53836;
            color: white;
            border: #b53836;
            padding: 20px 30px;
            font-size: 20px;
            margin: 0%;
            justify-content: center;
            
        }

        .container-title {
            padding: 0% 20%;
        }

        .container-body {
            padding: 0px 20%;
        }

        p.error {
            color: #e60000;
            font-weight: bold;
            margin-top: 10px;
        }

        p.success a {
            text-decoration: none;
            color: white;
            background-color: red;
            padding: 6px 12px;
            border-radius: 4px;
        }

        p.success a:hover {
            background-color: #1e7e34;
        }

        .form-container {
            display: flex;
        }

        .details-boxes {
            display: flex;
        }
        
        /* .pair-containers1 {
            display: flex;
        } */

        {}    

        /* Header */

        .header-div {
          background-image: linear-gradient(to right, #343434, #383838);
        }

        .header-div nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 25%;
        }

        #logo-name {
            color: white;
            font-size: 24px;
            text-decoration: none;
        }

        nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #232323;
        color: white;
        } 

        .menu-tab, .auth-tab {
        display: flex;
        align-items: center;
        gap: 25px;
        }

        .menu-tab a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        }

       .menu-tab img {
       height: 30px;
       margin-right: 10px;
       }

       .menu-tab h1, .auth-tab h1 {
       font-size: 18px;
       margin: 0;
       }



       /* Footer Styling */


       footer {
        background-color: #f2f2f2;
       }

       .main-footer {
        background-color: #f2f2f2;
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 2% 25%;
       }

       .bottom-bar {
        display: flex;
       }

       .bottom-bar-header {
        color: black;
        font-weight:700;
        font-size: 16px;
        padding: 10px 30px;
       }

       .bottom-bar-child {
        color: red;
        font-weight: 400;
        font-size: 16px;
        padding: 0px 30px;
       }

       .bottom-side-bar-header {
        color: black;
        justify-content: space-between;
        font-weight: 400;
        font-size: 16px;
        padding: 20px, 30px;
       }

       .bottom-side-bar-child {
        color: rgb(155, 141, 141);
        font-weight: 400;
        font-size: 16px;
       }

       .footer-bottom-details {
        background-color: #f2f2f2;
        font-size: 24px;
        color: rgb(155, 141, 141);
        text-align: center;
        padding-bottom: 20px;
       }

