{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>File Converter</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-jQ1FZP9pFqQfYyVvKTLbqRQj1S2EjeKzG0pC1S+r6/6QclZ3YhFgJz4X8G3a3F6K/2kEkD6K1V5OaxEf6P4J0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    {% include "header.html" %}

    {% block file_converter %}
    {% endblock %}

    {% include "footer.html" %}

</body>
</html>