{% extends "base.html" %}
{% block file_converter %}

<div class="top-body">
    <div>
        <h1 class="top-body-header">File Converter</h1>
        <p class="top-body-para">
          CloudConvert is an online file converter.
          We support nearly all audio, video, document, ebook, 
          archive, image, spreadsheet, and presentation formats.
          To get started, use the button below and select files 
          to convert from your computer.
        </p>
    </div>
    <div class="form-container">

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" required><br>

        From:
        <select class="" name="from_ext" required>
            <option value="pdf">PDF</option>
            <option value="jpg">JPG</option>
            <option value="png">PNG</option>
        </select>

        To:
        <select name="to_ext" required>
            <option value="pdf">PDF</option>
            <option value="jpg">JPG</option>
            <option value="png">PNG</option>
        </select><br>

        <button type="submit" id="convert-button">Convert</button>
    </form>

    {% if output %}
        <p class="success">Download: <a href="{{ output }}" download>Click Here</a></p>
    {% endif %}
</div>

    
</div>

<div class="middle-body"> 
    <i class="fa-slab fa-regular fa-file"></i>
    <button id="pick-image">
        Select File
    </button> 
    <div class="details-boxes">
        <div class="pair-containers1">
            <div class="single-container">
                <h1 class="container-title">
                    <i class="fa fa-copy">:: before</i>
                    +200 Formats Supported</h1>
                <p class="container-body">CloudConvert is your universal app for file conversions. We support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. Plus, you can use our online tool without downloading any software.</p>
            </div>
            <div class="single-container">
                <h1 class="container-title">Data Security</h1>
                <p class="container-body">CloudConvert is ISO 27001 certified and has been trusted by our users and customers since its founding in 2012. No one except you will ever have access to your files. We earn money by selling access to our API, not by selling your data. Read more about that in our Security Overview.</p>
            </div>
        </div>
        <div class="pair containers2">
             <div class="single-container">
                <h1 class="container-title">High-Quality Conversions</h1>
                <p class="container-body">Besides using open source software under the hood, we’ve partnered with various software vendors to provide the best possible results. Most conversion types can be adjusted to your needs such as setting the quality and many other options.</p>
             </div>
            <div class="single-container">
                <h1 class="container-title">Powerful API</h1>
                <p class="container-body">Our API allows custom integrations with your app. You pay only for what you actually use, and there are huge discounts for high-volume customers. We provide a lot of handy features such as full Amazon S3 integration. Check out the CloudConvert API.</p>
            </div>
        </div>        
    </div>
</div>


{% endblock %} 
