<footer>
    <div class="main-footer">
        <div class="bottom-bar">
            <div>
                <h1 class="bottom-bar-header">Company</h1>
                <h1 class="bottom-bar-child">About Us</h1>
                <h1 class="bottom-bar-child">Security</h1>
            </div>
           <div>
                <h1 class="bottom-bar-header">Resources</h1>
                <h1 class="bottom-bar-child">Blog</h1>
                <h1 class="bottom-bar-child">Status</h1>
            </div>
            <div>
                <h1 class="bottom-bar-header">Legal</h1>
                <h1 class="bottom-bar-child">Privacy</h1>
                <h1 class="bottom-bar-child">Terms</h1>
                <h1 class="bottom-bar-child">Imprint</h1>
            </div>
           <div>  
                <h1 class="bottom-bar-header">Contact</h1>
                <h1 class="bottom-bar-child">Contact Us</h1>
            </div>
        </div>

        <div class="bottom-side-bar">
            <h1 class="bottom-side-bar-header">© 2026 Dark Bytes</h1>
            <h1 class="bottom-side-bar-child">Made in Lahore, Pakistan</h1>
        </div>
    </div>
    <div class="footer-bottom-details">
        <p>We've already converted 2,809,697,501 files with a total size of 21,803 TB.</p>
    </div>
</footer>
