<header>
    <div class="header-div">
        <nav> 
            <div class="menu-tab">
                <a href="{% url 'home' %}">
                    <img src="https://cloudconvert.com/images/logo_flat_110_borderless.png" 
                         alt="cloudconvert-logo">
                    <h1 id="logo-name">cloudconvert</h1>
                </a>
                <h1>Tool</h1>
                <h1>API</h1>
                <h1>Pricing</h1>
            </div>
            <div class="auth-tab">
                <h1>Sign Up</h1>
                <h1>Login</h1>
            </div>
        </nav>
    </div>
</header>
